* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f4f8f9;
  color: #555c60;
  padding: 30px;
}

.App {
  width: 980px;
  margin: auto;
}

img {
  max-width: 100%;
}
