* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f4f8f9;
  color: #555c60;
  padding: 30px;
}

.App {
  padding-left: 0;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .App {
    padding-left: 200px;
  }
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
